---
import BaseLayout from "@/layouts/BaseLayout.astro"
---

<BaseLayout title="GBC CS Club" current_page='Home'>
<div class='text-left'>
	<p>GBC</p>
	<h1>
		Computer <br>
		Science <br>
		Club
	</h1>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eleifend et erat et efficitur. Vivamus imperdiet lacinia mauris ac euismod. Donec a felis ut diam mattis facilisis.
	</p>
</div>
</BaseLayout>
